
* {
    box-sizing: border-box;
}
body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Montserrat', serif
}
.navbar {
    background-color: rgba(230, 232, 230, 0.4)
}
.show {
 transition: width 2s linear 1s;
}

.teamimg {
border: 7px solid #fff;
margin: 0 auto;
}
.icon-heading {
    font-size: 1.5rem;
}
.lead {
    font-size: 1rem;
}
.iconBar {
    background-color: blanchedalmond;
    border-style: solid;
    border-top: thick double lightslategrey;
}
.iconContent {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    margin: -75px auto;
    padding: 90px 10px 10px;
    background-image: -webkit-radial-gradient(-13% 40%, #ffc8b0 0%, #ffffff 51%);
    background-image: radial-gradient(-13% 40%, #ffc8b0 0%, #ffffff 51%);
    box-shadow: 0px 11px 54px 0px rgba(0, 0, 0, 0.33);
}
/*FORM*/
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg {
    width: 60%;
    height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid palegoldenrod !important;
    border-radius: 4px;
    background-image: url('../img/Emergent_logo.png') !important;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
input.btn.btn-lg:focus {
    background-color: palegoldenrod;
    color: darkblue;
    border: 2px solid goldenrod !important;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 80%;
}
.mainSignUp {
    width: 40%;
    height: 70px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navSignUp {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/Emergent_phone.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

ul {
    list-style: circle;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.maincontent {
    max-width: 90%;
    padding-left: 200px;
}
.headline {
    padding: 70px 0;
}

.headline h1 {
    font-size: 40px;
    color:black;
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
}
.marginshort {
    margin-top: -120px;
}
.email {
    max-width: 60%;
    background-color: lightblue;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid #262423;
    background: -webkit-gradient(linear, left top, left bottom, from(#2c00a6), to(#177099));
    background: -webkit-linear-gradient(top, #2c00a6, #177099);
    background: -moz-linear-gradient(top, #2c00a6, #177099);
    background: -ms-linear-gradient(top, #2c00a6, #177099);
    background: -o-linear-gradient(top, #2c00a6, #177099);
    background-image: -ms-linear-gradient(top, #2c00a6 0%, #177099 100%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;

}
.iconimg {
    max-width: 180px;
    margin: 0 auto;
}
.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}
video {
  width: 100%    !important;
  height: auto   !important;
}




footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

